<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <%- include('partial/_navbar') %> 
    <br><br>
    <h1>Welcome to JS Trans</h1>
    <p>PT. Javascript Transportasi Nusantara</p>
    
</body>
</html>