<style>
  footer {
    position:fixed;
    text-align: center;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background-color: rgb(36, 36, 37);
    color: white;
  }
</style>

<footer>
  <p>JSTrans App. 2020 | by. MozartMongi & muchsin28</p>
</footer>
