<nav>
    <a href="/tickets">List of Ticket || </a>
    <a href="/orders">My Order || </a>
<<<<<<< HEAD
    <a href="/register">Registration || </a>
    <a href="/edit/profile">Edit Profile</a>
=======
    <a href="/register">Registration</a>
    <a href="/login">Login</a>
>>>>>>> f8eabc3f1740781857282aa2369d51ee974347ff
</nav>