<nav>
    <a href="/tickets">List of Ticket || </a>
    <a href="/orders">My Order || </a>
    <a href="/edit/profile">Edit Profile || </a>
    <a href="/register">Registration || </a>
    <a href="/login">Login</a>
</nav>